# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. 2021
# SPDX-License-Identifier: Apache-2.0

# instruction https://docs.snowflake.com/en/user-guide/python-connector-install.html#python-packages
# source https://github.com/snowflakedb/snowflake-connector-python/blob/master/tested_requirements/requirements_38.reqs

# Generated on: Python 3.8.7
# With snowflake-connector-python version: 2.4.6
boto3==1.21.40
botocore==1.24.40
snowflake-connector-python==2.4.6
cryptography==41.0.0
