# boto dependencies make the lambda very large, they are also automatically provided by lambda
# this file is kept here for installing dependencies locally
boto3==1.20.17
snowflake-connector-python==2.8.3
